/* Grundlegendes Styling für die Navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #2c3e50; /* Dunkelblauer Hintergrund */
    padding: 10px;
}

.navbar a {
    color: #ecf0f1; /* Helle Textfarbe wie im Footer */
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #34495e; /* Dunklerer Türkiston beim Hover */
    color: #3498db; /* Heller Blauton beim Hover */
}

.navbar button {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #e74c3c; /* Rotton für den Button */
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #c0392b; /* Dunklerer Rotton beim Hover */
}

/* Optional: Stil für aktive Links, falls NavLink verwendet wird */
.navbar a.active {
    background-color: #3498db; /* Gleicher heller Blauton wie beim Footer */
    color: #ecf0f1;
}

/* Dark Mode */
body.dark-mode .navbar {
    background-color: #1c1c1c; /* Dunklerer Hintergrund im Dark Mode */
}

body.dark-mode .navbar a {
    color: #bdc3c7; /* Hellere Schriftfarbe im Dark Mode */
}

body.dark-mode .navbar a:hover {
    background-color: #2c3e50; /* Leicht dunklerer Hintergrund beim Hover */
    color: #1abc9c; /* Türkisgrüner Farbton beim Hover im Dark Mode */
}

body.dark-mode .navbar button {
    background-color: #e74c3c; /* Beibehaltung des Rottons */
    color: #ecf0f1;
}

body.dark-mode .navbar button:hover {
    background-color: #c0392b; /* Dunklerer Rotton beim Hover */
}

body.dark-mode .navbar a.active {
    background-color: #1abc9c; /* Türkisgrün für aktive Links im Dark Mode */
    color: #ecf0f1;
}
