.finance-budget-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.budget-list {
    list-style-type: none;
    padding: 0;
}


.budget-item:hover {
    background-color: #f5f5f5;
}

.budget-name {
    font-weight: bold;
}

.budget-amount {
    color: #888;
}

.create-soll-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-soll-button:hover {
    background-color: #0056b3;
}

.budget-details {
    margin-left: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}
.budget-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}

.soll-entry {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Platz zwischen Text und Button */
    margin-bottom: 5px;
}

.soll-entry div {
    display: flex;
    align-items: center; /* Buttons und Text nebeneinander */
}

.bearbeiten-button {
    margin-left: 10px; /* Abstand zwischen Text und Button */
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bearbeiten-button:hover {
    background-color: #0056b3;
}


.soll-entry {
    margin-bottom: 5px;
}

.create-soll-form {
    margin-top: 20px;
}

.soll-input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.save-soll-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-soll-button:hover {
    background-color: #1e7e34;
}

/* Dark Mode */
body.dark-mode .budget-item {
    border-bottom: 1px solid #555;
}

body.dark-mode .budget-item:hover {
    background-color: #333;
}

body.dark-mode .budget-amount {
    color: #b0bec5;
}

body.dark-mode .budget-details {
    background-color: #333;
}
