.budget-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
 
table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
 
.red-text {
  color: red;
  font-weight: bold;
}
 
h1 {
  text-align: center;
  margin-bottom: 20px;
}
 
/* Zusätzliche Stile für aufklappbare Budget-Daten */
.details {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
 
.details h3 {
  margin: 0 0 10px 0;
}
 
.details h4 {
  margin: 10px 0 5px 0;
}
 
.details ul {
  list-style-type: none; /* Entfernt die Aufzählungszeichen */
  padding: 0; /* Entfernt das Padding der Liste */
}
 
.details li {
  margin: 5px 0; /* Abstand zwischen den Listenelementen */
}
 
.red {
  color: red;
  font-weight: bold;
}
 
.grün{
  color: green;
  font-weight: bold;
}