.impressum-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff; /* Heller Hintergrund für den normalen Modus */
    color: #2c3e50; /* Dunkle Schriftfarbe im normalen Modus */
}

.impressum-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.impressum-container h2,
.impressum-container h3,
.impressum-container h4 {
    color: #2c3e50; /* Dunkle Überschriften im normalen Modus */
}

.impressum-container p {
    margin-bottom: 15px;
}

.impressum-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.impressum-container strong {
    color: #2c3e50; /* Dunkle Schrift für hervorgehobene Texte im normalen Modus */
}

/* Dark Mode Stile */
body.dark-mode .impressum-container {
    background-color: rgba(0, 0, 0, 0.71); /* Dunkler Hintergrund für den Dark Mode */
    color: #ffffff; /* Helle Schriftfarbe im Dark Mode */
}

body.dark-mode .impressum-container h1,
body.dark-mode .impressum-container h2,
body.dark-mode .impressum-container h3,
body.dark-mode .impressum-container h4,
body.dark-mode .impressum-container strong {
    color: #ffffff; /* Helle Überschriften und hervorgehobene Texte im Dark Mode */
}

body.dark-mode .impressum-container ul {
    list-style-type: square; /* Alternative Listenpunkte im Dark Mode */
}
