/* Grundlegendes Styling für den Header-Bereich */
.header {
  background-color: #2c3e50; /* Gleiche dunkelblaue Farbe wie im Footer für Konsistenz */
  display: flex; /* Verwende Flexbox für einfaches Layout-Management */
  justify-content: space-between; /* Verteilt Logo und Navbar gleichmäßig auf die Seiten */
  align-items: center; /* Zentriert Logo und Navbar vertikal in der Mitte */
  padding: 1rem 20px; /* Definiert Innenabstand des Headers für bessere Optik */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Fügt eine leichte Schattenwirkung hinzu */
  margin: 0 auto; /* Zentriert den Header horizontal */
}

/* Styling für das Firmenlogo */
.company-logo {
  width: 150px; /* Festgelegte Breite für das Logo */
  height: auto; /* Automatische Höhenanpassung für Proportionalität */
}

.spacer {
  width: 10px;
}

/* Styling für die Navigationsleiste */
.navbar {
  flex-grow: 1; /* Die Navbar nimmt den verbleibenden Platz ein */
  display: flex; /* Flexbox für horizontale Anordnung der Links */
  justify-content: flex-end; /* Rechtsbündige Ausrichtung der Navbar-Elemente */
}

/* Responsive Design für Bildschirme bis 768px Breite */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Ändert Layout auf vertikales Stapeln auf kleinen Bildschirmen */
    align-items: center; /* Zentriert alle Elemente */
  }

  .navbar {
    justify-content: center; /* Zentriert die Navbar-Elemente bei kleineren Bildschirmen */
  }

  /* Stilierung des Buttons für den Dark Mode */
  .dark-mode-button {
    background-color: #2c3e50; /* Dunkler Button-Hintergrund für bessere Lesbarkeit im Dark Mode */
    color: #ffffff; /* Weiße Schriftfarbe */
    border: none; /* Keine Rahmenlinien */
    padding: 0.5rem 1rem; /* Innenabstand für besseren Klickbereich */
    border-radius: 5px; /* Leicht abgerundete Ecken */
    cursor: pointer; /* Zeigt den Cursor als Hand bei Hover */
  }

}
